/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Root Variables */
:root {
    --primary-color: #3f87f5;
    --heading-color: #0a0826;
    --gray-color: #6c6c6c;
}


/* Reset CSS Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

button {
    transition: 0.3s ease-in-out;
}

.primary-btn {
    padding: 10px 35px 10px 24px;
    background: var(--primary-color);
    margin-top: 20px;
}
.primary-btn .arrow {
    position: absolute;
    transform: translateX(5px);
    transition: transform 0.3s ease-in-out;
}
.primary-btn:hover .arrow {
    transform: translateX(10px);
}

/* Navbar CSS Start */

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
}
.nav-link {
    font-weight: 500;
    margin-left: 10px;
}
.navbar-brand:hover,.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Navbar CSS End */

/* Hero Slider CSS Start */

.slider-title {
    font-size: 48px;
    font-weight: 600;
}
.slider-text {
    font-weight: 300;
}
.slider-btn {
    padding: 10px 43px;
    margin-bottom: 42px;
}
.slider-btn:hover {
    background: var(--primary-color) !important;
    color: #fff;
}

/* Hero Slider CSS End */

/* About Us Section CSS Start */

.about-us-section {
    padding: 100px 0 50px;
}
.about-img-wrapper {
    border-radius: 5px;
    overflow: hidden;
}
.about-img {
    transition: transform 0.3s ease-in-out;
}
.about-img:hover {
    transform: scale(1.1);
}
.about-title {
    font-size: 38px;
    line-height: 60px;
    color: var(--heading-color);
}
.about-desc {
    color: var(--gray-color);
}

/* About Us Section CSS End */