/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

/* Root Variables */
:root {
    --primary-color: #3f87f5;
    --title-color: #0a0826;
    --gray-color: #6c6c6c;
    --card-title-color: #231d4f;
    --card-text-color: #848199;
}


/* Reset CSS Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    transition: 0.3s ease-in-out;
}

.primary-btn {
    padding: 10px 35px 10px 24px;
    background: var(--primary-color);
    margin-top: 20px;
}

.primary-btn .arrow {
    position: absolute;
    transform: translateX(5px);
    transition: transform 0.3s ease-in-out;
}

.primary-btn:hover .arrow {
    transform: translateX(10px);
}

.section-title {
    font-size: 38px;
    line-height: 57px;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 100px;
}

/* Navbar CSS Start */

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
}
.nav-link {
    font-weight: 500;
    margin-left: 10px;
}
.navbar-brand:hover,.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Navbar CSS End */

/* Hero Slider CSS Start */

.slider-title {
    font-size: 48px;
    font-weight: 600;
}
.slider-text {
    font-weight: 300;
}
.slider-btn {
    padding: 10px 43px;
    margin-bottom: 42px;
}
.slider-btn:hover {
    background: var(--primary-color) !important;
    color: #fff;
}

/* Hero Slider CSS End */

/* About Us Section CSS Start */

.about-us-section {
    padding: 100px 0 50px;
    position: relative;
}
.toast {
    position: absolute;
    top: 50%;
    right: 0;
    font-weight: 500;
    border-left: 10px solid var(--primary-color);
}
.toast i {
    color: var(--primary-color);
    font-size: 20px;
}
.about-img-wrapper {
    border-radius: 5px;
    overflow: hidden;
}
.about-img {
    transition: transform 0.3s ease-in-out;
}
.about-img:hover {
    transform: scale(1.1);
}
.about-title {
    font-size: 38px;
    line-height: 60px;
    color: var(--title-color);
}
.about-desc {
    color: var(--gray-color);
}

/* About Us Section CSS End */

/* Our Package Section CSS Start */

.our-package-section {
    padding: 50px 0;
}
.card {
    padding: 5px;
    border-radius: 26px;
    border: none;
    transition: 0.3s ease-in-out;
}
.package-price {
    font-size: 36px;
    line-height: 46px;
    font-family: 'Roboto', sans-serif;
    color: var(--card-title-color);
}
.package-name {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: var(--card-title-color);
}
.package-desc {
    color: var(--card-text-color);
}
.package-item {
    color: var(--card-text-color);
}
.package-item .check {
    padding: 3px;
    color: #5243c2;
    background: rgba(82, 67, 194, 0.1);
    border-radius: 50%;
}
.package-btn {
    padding: 10px 30px;
    background: rgba(244, 150, 210, 0.1);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    border-radius: 24px;
}

.card:hover .package-price,
.card:hover .package-name,
.card:hover .package-desc, 
.card:hover .package-item {
    color: #fff;
}
.card:hover .package-btn {
    background: #fff;
}
.card:hover,
.hot {
    background: var(--primary-color);
    transform: translateY(-30px);
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
.hot .package-price,
.hot .package-name,
.hot .package-desc, 
.hot .package-item {
    color: #fff;
}
.card:hover .check,
.hot .check {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.hot .package-btn {
    background: #fff;
}

.package-btn:hover {
    color: #fff;
    background: transparent !important;
    border:1px solid #fff;
}

/* Our Package Section CSS End */

/* FAQ Section CSS Start */

.faq-section {
    padding: 50px 0 100px;
}
.accordion-item {
    border: 1px solid #d5e5fb !important;
}
.accordion-button:not(.collapsed) {
    color: #383838;
    background: none;
    box-shadow: none;
}
.question {
    font-size: 20px;
    color: #383838;
    font-weight: 500;
}
.answer {
    color: #7e848c;
}
.faq-img-wrapper {
    overflow: hidden;
    border-radius: 5px;
}
.faq-img {
    transition: 0.3s ease-in-out;
}
.faq-img:hover {
    transform: scale(1.1);
}

/* FAQ Section CSS End */

/* Footer CSS Start */
.footer-section {
    padding: 80px 0;
    background: #0b0d17;
}
.copyright-text {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin: 0;
}
.footer-title {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.app-link img {
    width: 135px;
}
/* Footer CSS End */