/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Root Variables */
:root {
    --primary-color: #3f87f5;
}


/* Reset CSS Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Navbar CSS Start */

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
}
.nav-link {
    font-weight: 500;
    margin-left: 10px;
}
.navbar-brand:hover,.nav-link:hover {
    color: var(--primary-color) !important;
}